.right .header {
    font-size: 60pt;
    font-family: jsMath-cmbx10;
    width: 280px;
    margin-left: 60px;
    padding-top: 16px;
    color: #30323d;
}

.split {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

/* Control the right side */
.right {
    right: 0;
    width: 75%;
    background-color: #d6ccc2;
}

#filter-options {
    border-bottom: 2px solid;
    border-color: #30323d;
    display: flex;
    flex-direction: row;
    margin-left: 60px;
    margin-right: 60px;
    padding-bottom: 5px;
    align-items: center;
    height: 100px;
}

.filter {
    display: flex;
    flex-direction: column;
    width: 25%;
    padding: 5px;
}

.filter-button {
    height: 30px;
    width: 80px;
    margin: 5px;
}

.search-bar {
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin-left: 60px;
    width: 280px;
    height: 35px;
    margin-bottom: 25px;
}

.search-bar > input {
    height: 25px;
}

.recipe-list-area {
    overflow-y: auto;
    margin-left: 60px;
    bottom: 0;
    height: 38%;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.recipe-result {
    display: inline-block;
    width: max-content;
    border-bottom: 2px solid;
    border-bottom-width: thin;
    padding: 5px;
}

.pagination-controls {
    display: flex;
    flex-direction: row;
    width: 300px;
    justify-content: space-between;
}

.pagination-controls > * {
    width: 100px;
    height: 30px;
    justify-content: center;
    text-align: center;
}