@page "/explore"
@layout MainLayout;
@using RecipePlannerApi.Model;
@using RecipePlannerApi.Service;
@using RecipePlannerWebApp.LocalServices;
@inject NavigationManager Nav;
@inject UserSessionData currentUser;


<PageTitle>foodie - explore</PageTitle>
<base href="~/" />
<div class="split right">
    <div class="header">
        <span>explore</span>
        <hr style="height: 2px; opacity: 100%" />
    </div>
    <div id="filter-options">
        <select @bind="filterSelection" name="filter-selector" id="filter-selector">
            @foreach (var filter in this.filters)
            {
                <option>@filter</option>
            }
        </select>
        <button type="submit" id="add-ingredient" @onclick="applyFilters">Apply</button>
    </div>
    <div class="recipe-list-area"></div>

</div>

@code {
    private List<String> filters { get; set; } = new List<String>() { "Breakfast", "Lunch", "Dinner"};
    private string[] filterSelection = new[] { "" };

    private void applyFilters()
    {
        Console.WriteLine("Applying filters");
    }
}
