@page "/favorites"
@layout MainLayout
<PageTitle>foodie - favorites</PageTitle>
<div class="split right">
    <div class="header">
        <span>favorites</span>
        <hr style="height: 2px; opacity: 100%" />
    </div>
    <div class="content">
        <p>Potentially useless page</p>
    </div>
</div>

@code {

}