@page "/"
@using RecipePlannerApi.Model;
@using RecipePlannerApi.Service;
@inject NavigationManager Nav;
@layout LoginLayout;

<link href="RecipePlannerWebApp.styles.css" rel="stylesheet">
<PageTitle>foodie - login</PageTitle>
<EditForm Model="@user" OnValidSubmit="@ValidateUser">
    <div id="login-widget">
        <span class="header">Login to Foodie</span>
       
        <input id="usernameField" @bind="user.Username" placeholder="Enter username" required />
      
        <input id="passwordField" @bind="user.Password" placeholder="Enter password" required />
       
        <button type="submit" id="loginButton" style="position:center">Login</button>
        <button type="submit" id="registerButton" style="position:center" @onclick="RegisterUser">Register</button>
        
        <span id="loginResultMessage">@LoginValidationResultMessage</span>
    </div>
</EditForm>

@code
{
    [Parameter]
    public User user { get; set; } = new User();

    [Parameter]
    public bool ValidFields { get; set; } = false;

    private string? LoginValidationResultMessage { get; set; }

    private void ValidateUser()
    {
        LoginValidationResultMessage = "";
        if (!String.IsNullOrEmpty(user.Username) && !String.IsNullOrEmpty(user.Password))
        {

            bool result = UserService.ValidateUser(user);
            LoginValidationResultMessage = "";
            if (result)
            {
                this.ValidFields = true;
                Nav.NavigateTo("/home");
            }
            else
            {
                this.ValidFields = false;
                LoginValidationResultMessage = "Invalid Credentials";
            }
        }
        else
        {
            LoginValidationResultMessage = "Please enter a username and password";
        }
    }

    private void RegisterUser()
    {
        Nav.NavigateTo("/register");
    }
}