@page "/"
@using RecipePlannerApi.Model;
@using RecipePlannerApi.Service;
@inject NavigationManager Nav;

<EditForm Model="@user" OnValidSubmit="@ValidateUser" style="width: 350px; text-align: center ; margin: auto;">
	<div>
		<br /><br /><br /><br/>
	</div>
	<div>
		<h3 style="font-weight: bold; color: purple">ReciPlanner Login</h3>
		<br/>
		<input class="form-control col-12" id="usernameField" @bind="user.Username" placeholder="Enter username"/>
		<br />
		<input class="form-control col-12" id="passwordField" @bind="user.Password" placeholder="Enter password" />
		<br />
		<button type="submit" id="loginButton" class="form-control btn-primary" style="position:center">Login</button>
		<br />
		<span class="col-12" id="loginResultMessage" style="color:red">@LoginValidationResultMessage</span>
	</div>
</EditForm>

@code
{
	[Parameter]
	public User user { get; set; } = new User();

	[Parameter]
	public bool ValidFields { get; set; } = false;

	private string? LoginValidationResultMessage { get; set; }

	private void ValidateUser()
	{
		LoginValidationResultMessage = "";
		if (!String.IsNullOrEmpty(user.Username) && !String.IsNullOrEmpty(user.Password))
		{
			bool result = UserService.ValidateUser(user);
			LoginValidationResultMessage = "";
			if (result)
			{
				this.ValidFields = true;
				Nav.NavigateTo("/index");
			}
			else
			{
				this.ValidFields = false;
				LoginValidationResultMessage = "Invalid Credentials";
			}
		}
		else
		{
			LoginValidationResultMessage = "Please enter a username and password";
		}
		
	}
}
