@page "/pantry"
@layout MainLayout;
@using RecipePlannerWebApp.LocalServices;
@inject UserSessionData currentUser;

<PageTitle>foodie - pantry</PageTitle>

<link href="RecipePlannerWebApp.styles.css" rel="stylesheet">

<div class="split right">
    <div class="header">
        <span>pantry</span>
        <hr style="height: 2px; opacity: 100%" />
    </div>
    <div class="pantry">
        <div class="new-ingredient">
            <span style="text-align:center;">Add Ingredient</span>
            <input placeholder="Enter Ingredient Name"/>
            <input placeholder="Enter Ingredient Amount"/>
            <button type="button" id="add-ingredient">Add to Pantry</button>
        </div>
        @foreach (var ingredient in Ingredients)
        {
            <Ingredient IngredientName="@ingredient["name"]" IngredientQuantity="@ingredient["quantity"]" />
        }
    </div>
</div>

@code
{
    private IList<Dictionary<string, string>> Ingredients { get; set; }
    private string IngredientToRemove { get; set; } = "";
    protected override void OnInitialized()
    {
        Console.WriteLine("PANTRY -- Initializing...");
        this.Ingredients = new List<Dictionary<string, string>>();
        this.buildPantry();
    }

    private void buildPantry()
    {
        this.Ingredients.Add(new Dictionary<string, string>() { { "name", "eggs" }, { "quantity", "4" }, { "category", "dairy" } });
        this.Ingredients.Add(new Dictionary<string, string>() { { "name", "milk" }, { "quantity", "1" }, { "category", "dairy" } });
        this.Ingredients.Add(new Dictionary<string, string>() { { "name", "bread" }, { "quantity", "10" }, { "category", "baked goods" } });
        this.Ingredients.Add(new Dictionary<string, string>() { { "name", "apple" }, { "quantity", "7" }, { "category", "fruit" } });
        this.Ingredients.Add(new Dictionary<string, string>() { { "name", "carrot" }, { "quantity", "13" }, { "category", "vegetables" } });
    }

    private void deleteIngredient(MouseEventArgs e, string ingredientName)
    {
        if (e.Button.Equals(0))
        {
            Console.WriteLine("Deleting ingredient: " + ingredientName);
        }

    }
}