@page "/pantry"
@layout MainLayout;
@using RecipePlannerWebApp.LocalServices;
@inject UserSessionData currentUser;

<PageTitle>foodie - pantry</PageTitle>

<link href="RecipePlannerWebApp.styles.css" rel="stylesheet">

<div class="split right">
    <div class="header">
        <span>pantry</span>
        <hr style="height: 2px; opacity: 100%" />
    </div>
    <div class="pantry">
        @foreach (var ingredient in Ingredients)
        {
            <fieldset class="ingredient">
                <legend>@ingredient["name"]</legend>
                <label>Quantity: @ingredient["quantity"]</label>
                <label>Category: @ingredient["category"]</label>
                <br>
                <button>Add</button>
                <button>Remove from Pantry</button>
            </fieldset>
        }
    </div>
</div>

@code
{
    private IList<Dictionary<string, string>> Ingredients { get; set; }

    protected override void OnInitialized()
    {
        Console.WriteLine("PANTRY -- Initializing...");
        this.Ingredients = new List<Dictionary<string, string>>();
        this.BuildPantry();
    }

    private void BuildPantry()
    {
        this.Ingredients.Add(new Dictionary<string, string>(){ { "name", "eggs" }, { "quantity", "4"}, { "category", "dairy"} } );
        this.Ingredients.Add(new Dictionary<string, string>() { { "name", "milk" }, { "quantity", "1" }, { "category", "dairy" } });
        this.Ingredients.Add(new Dictionary<string, string>() { { "name", "bread" }, { "quantity", "10" }, { "category", "baked goods" } });
        this.Ingredients.Add(new Dictionary<string, string>() { { "name", "apple" }, { "quantity", "7" }, { "category", "fruit" } });
        this.Ingredients.Add(new Dictionary<string, string>() { { "name", "carrot" }, { "quantity", "13" }, { "category", "vegetables" } });
    }
}