.right .header {
    font-size: 60pt;
    font-family: jsMath-cmbx10;
    width: 280px;
    margin-left: 60px;
    padding-top: 16px;
    color: #30323d;
}

.split {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

/* Control the right side */
.right {
    right: 0;
    width: 75%;
    background-color: #d6ccc2;
}

/* If you want the content centered horizontally and vertically */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.pantry {
    overflow-y: auto;
    margin-left: 60px;
    bottom: 0;
    height: 65%;
}

.ingredient {
    margin-top: 10px;
    margin-bottom: 10px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #30323d;
}

::-webkit-scrollbar-thumb {
    background: #e8c547;
}

::-webkit-scrollbar-thumb:hover {
    background: #ba9717;
}
