@page "/recipe-details/{RecipeName}"
@layout MainLayout
@inject NavigationManager Nav;

<div class="split right">
    <div class="header">
        <span>recipes</span>
        <hr style="height: 2px; opacity: 100%" />
    </div>
    <div class="recipe-area">
        <h2 class="title" style="font-weight: bold">@RecipeName</h2>
        <h5>Serves: @numServings</h5>
        <br />
        <h3 style="text-decoration: underline">Ingredients:</h3>
        <ul>
            @foreach (var ingredient in this.ingredients)
            {
                <li>@ingredient</li>
            }
        </ul>
        <br />
        <h3 style="text-decoration: underline">Directions:</h3>
        <ol>
            @foreach (var step in this.steps)
            {
                <li>@step</li>
            }
        </ol>
        <br />
        <button @onclick="returnToRecipesPage">&#8672 Back</button>
    </div>

</div>

@code {

    [Parameter]
    public string RecipeName { get; set; } = ""; //alternatively change to recipe id depending on recipe endpoint functionality
    
    private List<string> ingredients { get; set; } = new List<string>() { "1 tsp baking powder", "1 tsp cinnamon", "1 egg", "1 cup whole milk", "1 1/2 sticks cold unsalted butter cold unsalted butter", "4 larges red apples" };
    private List<string> steps { get; set; } = new List<string>() { "Soften butter", "Cut apples into inch-sized cubes", "Beat eggs", "Stir in milk, baking powder, and cinnamon", "Add apples", "Bake at 350F for 20 minutes" };
    private int numServings { get; set; } = 3;

    protected override void OnInitialized()
    {
        Console.WriteLine("RECIPEVIEW -- Initializing...");
        //Call RPApi to get recipe details.
        //Set appropriate properties (ingredients, steps, numServings) so databinding kicks in.
    }

    private void returnToRecipesPage()
    {
        Console.WriteLine("RECIPEVIEW -- Go Back");
        Nav.NavigateTo("/recipes");
    }

    //FUTUREPROOFING - DISREGARD
    //<button @onclick="updateUsedIngredientQuantities">Mark as Complete</button>
    //private void updateUsedIngredientQuantities()
    //{
    //    Console.WriteLine("RECIPEVIEW -- Completed recipe for " + this.RecipeName);
    //    foreach (string ingredient in this.ingredients)
    //    {
    //        Console.WriteLine("RECIPEVIEW -- Updating quantity for " + ingredient);
    //    }
    //    //Call RPApi to update quantities of user's ingredients
    //    Nav.NavigateTo("/recipes");
    //}
}