@page "/recipes"
@layout MainLayout
@using RecipePlannerApi.Service;
@using RecipePlannerApi.Model;
@using RecipePlannerWebApp.LocalServices;
@inject IJSRuntime JsRuntime;
@inject NavigationManager Nav;
@inject UserSessionData currentUser;

<PageTitle>foodie - recipes</PageTitle>
<base href="~/" />
<div class="split right">
    <div class="header">
        <span>recipes</span>
        <hr style="height: 2px; opacity: 100%" />
    </div>
    <div class="recipe-list-area">
        @foreach (var recipe in recipeResults)
        {
            <div class="recipe-result" @onclick="() => goToRecipe(recipe.Title, recipe.Id ?? -1)">
                <img src="Assets/recipe-filler-image.png" asp-append-version="true" style="width: 125px; height: 125px;" />
                @recipe.Title
             </div>
        }
    </div>
    
</div>

@code {
    private List<Recipe> recipeResults { get; set; } 

    protected override void OnInitialized()
    {
        Console.WriteLine("RECIPES -- Initializing...");
        List<Recipe> recipes = RecipeService.GetRecipesByUserPantry(currentUser.CurrentUser.Id);
        if (recipes != null)
        {
            this.recipeResults = recipes;
        } 
        else
        {
            JsRuntime.InvokeAsync<bool>("alert", "Unable to fetch recipes.\nPlease try again later.");

        }
    }

    private void goToRecipe(string recipeTitle, int recipeId)
    {
        Console.WriteLine("Recipe clicked: " + recipeId);
        Nav.NavigateTo("recipe-details/" + recipeTitle + "/" + recipeId);
    }
}