@page "/recipes"
@layout MainLayout

@using RecipePlannerWebApp.LocalServices;
@inject NavigationManager Nav;
@inject UserSessionData userData;

<PageTitle>foodie - recipes</PageTitle>
<base href="~/" />
<div class="split right">
    <div class="header">
        <span>recipes</span>
        <hr style="height: 2px; opacity: 100%" />
    </div>
    <div class="recipe-list-area">
        @foreach (string recipe in recipeResults)
        {
            <div class="recipe-result" @onclick="() => goToRecipe(recipe)">
                <img src="Assets/recipe-filler-image.png" asp-append-version="true" style="width: 125px; height: 125px;" />
                @recipe
             </div>
        }
    </div>
    
</div>

@code {

    private List<string> recipeResults { get; set; } = new List<string>() { "Apple Strudel", "Blueberry Muffins", "Chocolate Cake" };

    protected override void OnInitialized()
    {
        Console.WriteLine("RECIPES -- Initializing...");
        //Call RPApi to get recipes for user pantry.
        //Set recipeResults to API call result so databinding kicks in.
    }

    private void goToRecipe(string recipe)
    {
        Console.WriteLine("Recipe clicked: " + recipe);
        Nav.NavigateTo("recipe-details/" + recipe);
    }
}