@page "/recipes"
@layout MainLayout

<PageTitle>foodie - recipes</PageTitle>

<div class="split right">
    <div class="header">
        <span>recipes</span>
        <hr style="height: 2px; opacity: 100%" />
    </div>
    <div class="recipe-area">
        <h2 class="title">Recipe Title</h2>
        <h5>Cooktime: 25min</h5>
        <h5>Serves: 4</h5>
        <br />
        <h3 style="text-decoration: underline">Ingredients:</h3>
        <ul>
            <li>Ing. 1</li>
            <li>Ing. 2</li>
            <li>Ing. 3</li>
            <li>Ing. 4</li>
            <li>Ing. 5</li>
        </ul>
        <br />
        <h3 style="text-decoration: underline">Directions:</h3>
        <ol>
            <li>Step 1</li>
            <li>Step 2</li>
            <li>Step 3</li>
            <li>Step 4</li>
            <li>Step 5</li>
        </ol>
        <button>&#8672 Back</button>
        <button>Mark as Complete</button>
    </div>
    
</div>

@code {
    private string? imageSource = "favicon.png";
}