################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CapstoneSp23_Group3/FileContentIndex
/.vs/slnx.sqlite
