
<link href="RecipePlannerWebApp.styles.css" rel="stylesheet">

<div class="ingredient">
    <span class="ingredient-label">@IngredientName</span>
    <div class="ingredient-body">
        <label>Quantity: @IngredientQuantity</label>
        <input placeholder="Amount to add" />
        <button>Update</button>
        <button @onclick="@deleteIngredient">Delete from Pantry</button>
    </div>
</div>
@code {
    [Parameter]
    public string IngredientName { get; set; } = "";
    [Parameter]
    public string IngredientQuantity { get; set; } = "";

    private void deleteIngredient()
    {
        Console.WriteLine("Deleting " + this.IngredientName);
    }
}
