@inject NavigationManager Nav;

<link href="RecipePlannerWebApp.styles.css" rel="stylesheet">

<div class="split left">
    <div class="top-centered header" id="nav-menu">
        <span style="color: #e8c547">foodie</span>
        <hr style="height: 2px; opacity: 100%"/>
    </div>
    <nav class="centered menu" id="nav-menu" style="flex-direction:column; justify-content:space-evenly">
        <div class="nav-item">
            <NavLink href="pantry">
                <span class="nav-item" aria-hidden="true">pantry</span>
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink href="recipes">
                <span class="nav-item" aria-hidden="true">recipes</span>
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink href="favorites">
                <span class="nav-item" aria-hidden="true">favorites</span>
            </NavLink>
        </div>
    </nav>
    <div class="bottom-centered footer" id="nav-menu">
        <button id="logout-button" @onclick="LogoutUser">Log Out</button>
        <br />
        <span>&copy 2023 - Alton, Irie, Wagner</span>
    </div>
</div>

<style>
    .split {
        height: 100%;
        position: fixed;
        z-index: 1;
        top: 0;
        overflow-x: hidden;
        padding-top: 20px;
    }

    /* Control the left side */
    .left {
        left: 0;
        width: 25%;
        background-color: #30323d;
    }


    /* If you want the content centered horizontally and vertically */
    .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    .top-centered {
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    .bottom-centered {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    .header {
        font-size: 60pt;
        color: #e8c547;
    }

    .footer {
        font-size: 15px;
        width: 75%;
    }
    /* Style the image inside the centered container, if needed */
    .centered img {
        width: 150px;
        border-radius: 50%;
    }

    #nav-menu {
        color: #e8c547;
        font-family: jsMath-cmbx10;
        text-decoration: none;
    }

    .nav-item {
        color: #e8c547;
        font-size: 30pt;
    }

    a {
        text-decoration: none;
    }

    nav {
        padding-top: 33%;
    }

    #logout-button {
        background-color: #e8c547;
        border: 2px;
        margin: 4px;
    }
</style>

@code {
    public void LogoutUser()
    {
        Nav.NavigateTo("/");
    }
}
